altgraph==0.17
amqp==5.0.9
aniso8601==9.0.1
anyio==3.4.0
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==1.2.0
asgiref==3.4.1
attrs==19.3.0
audioread==2.1.8
autopep8==1.6.0
backcall==0.2.0
backend==0.2.4.1
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
beautifulsoup4==4.9.1
billiard==3.6.4.0
bleach==3.1.5
blinker==1.4
celery==5.1.2
certifi==2021.10.8
cffi==1.14.1
chardet==3.0.4
charset-normalizer==2.0.11
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
comtypes==1.1.7
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.4
dnspython==1.16.0
docopt==0.6.2
docutils==0.18.1
elasticsearch==6.3.1
entrypoints==0.3
eventlet==0.31.1
fastapi==0.70.1
filelock==3.4.0
Flask==2.0.2
Flask-Ext==0.1
Flask-HTTPAuth==4.5.0
Flask-Jsonpify==1.5.0
Flask-Login==0.5.0
flask-msearch==0.2.9.2
flask-paginate==2022.1.8
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
flit==3.6.0
flit-core==3.6.0
flower==1.0.0
future==0.18.2
greenlet==1.1.2
guess-language-spirit==0.5.3
h11==0.12.0
h5py==2.10.0
httptools==0.3.0
humanize==3.14.0
icon==0.0.5
idna==3.3
inline==0.0.1
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
joblib==0.16.0
Js2Py==0.70
jsonpickle==1.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
k==0.0.1
Keras==2.4.3
kiwisolver==1.2.0
KNN==1.0.0
kombu==5.2.3
librosa==0.8.0
llvmlite==0.34.0
MarkupSafe==2.0.1
matplotlib==3.3.1
mistune==0.8.4
naiveBayesClassifier==0.1.3
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.3
numba==0.51.2
numpy==1.19.1
opencv-python==4.5.1.48
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
path==15.0.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.2.0
pip-api==0.0.27
pipwin==0.5.0
platformdirs==2.4.0
points==0.4.0
pooch==1.2.0
prometheus-client==0.13.1
prompt-toolkit==3.0.27
pycodestyle==2.8.0
pycparser==2.20
pydantic==1.8.2
pygame==1.9.6
Pygments==2.6.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pyjsparser==2.7.1
pymongo==3.12.0
pyparsing==2.4.7
pypiwin32==223
PyPrind==2.11.2
pyrsistent==0.16.0
pySmartDL==1.3.3
python-dateutil==2.8.1
python-dotenv==0.19.2
python-time==0.3.0
pyttsx3==2.90
pytz==2021.3
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.5
QtPy==1.9.0
redis==3.5.3
redisbeat==1.2.4
requests==2.27.1
resampy==0.2.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
Send2Trash==1.5.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
SoundFile==0.10.3.post1
soupsieve==2.0.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.29
starlette==0.16.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tomli==2.0.0
tomli-w==1.0.0
tornado==6.1
tqdm==4.50.2
traitlets==4.3.3
typing-extensions==4.0.1
tzlocal==2.1
urllib3==1.26.8
uuid==1.30
uvicorn==0.16.0
vine==5.0.0
virtualenv==20.10.0
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.1
Werkzeug==2.0.3
Whoosh==2.7.4
widgetsnbextension==3.5.1
zope.interface==5.4.0
altgraph==0.17
amqp==5.0.9
aniso8601==9.0.1
anyio==3.4.0
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==1.2.0
asgiref==3.4.1
attrs==19.3.0
audioread==2.1.8
autopep8==1.6.0
avatar-generator==0.2
backcall==0.2.0
backend==0.2.4.1
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
beautifulsoup4==4.9.1
billiard==3.6.4.0
bleach==3.1.5
blinker==1.4
celery==5.1.2
certifi==2021.10.8
cffi==1.14.1
chardet==3.0.4
charset-normalizer==2.0.11
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
comtypes==1.1.7
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.4
dnspython==1.16.0
docopt==0.6.2
docutils==0.18.1
elasticsearch==6.3.1
entrypoints==0.3
eventlet==0.31.1
fastapi==0.70.1
filelock==3.4.0
Flask==2.0.2
Flask-Ext==0.1
Flask-HTTPAuth==4.5.0
Flask-Jsonpify==1.5.0
Flask-Login==0.5.0
flask-msearch==0.2.9.2
flask-paginate==2022.1.8
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
flit==3.6.0
flit_core==3.6.0
flower==1.0.0
future==0.18.2
greenlet==1.1.2
guess-language-spirit==0.5.3
h11==0.12.0
h5py==2.10.0
httptools==0.3.0
humanize==3.14.0
icon==0.0.5
idna==3.3
inline==0.0.1
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
joblib==0.16.0
Js2Py==0.70
jsonpickle==1.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
k==0.0.1
Keras==2.4.3
kiwisolver==1.2.0
KNN==1.0.0
kombu==5.2.3
librosa==0.8.0
llvmlite==0.34.0
MarkupSafe==2.0.1
matplotlib==3.3.1
mistune==0.8.4
naiveBayesClassifier==0.1.3
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.3
numba==0.51.2
numpy==1.19.1
opencv-python==4.5.1.48
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
path==15.0.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.2.0
pip-api==0.0.27
pipwin==0.5.0
platformdirs==2.4.0
points==0.4.0
pooch==1.2.0
prometheus-client==0.13.1
prompt-toolkit==3.0.27
pycodestyle==2.8.0
pycparser==2.20
pydantic==1.8.2
pygame==1.9.6
Pygments==2.6.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pyjsparser==2.7.1
pymongo==3.12.0
pyparsing==2.4.7
pypiwin32==223
PyPrind==2.11.2
pyrsistent==0.16.0
pySmartDL==1.3.3
python-dateutil==2.8.1
python-dotenv==0.19.2
python-time==0.3.0
pyttsx3==2.90
pytz==2021.3
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.5
QtPy==1.9.0
redis==3.5.3
redisbeat==1.2.4
requests==2.27.1
resampy==0.2.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
Send2Trash==1.5.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
SoundFile==0.10.3.post1
soupsieve==2.0.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.29
starlette==0.16.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tomli==2.0.0
tomli_w==1.0.0
tornado==6.1
tqdm==4.50.2
traitlets==4.3.3
typing_extensions==4.0.1
tzlocal==2.1
urllib3==1.26.8
uuid==1.30
uvicorn==0.16.0
vine==5.0.0
virtualenv==20.10.0
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.1
Werkzeug==2.0.3
Whoosh==2.7.4
widgetsnbextension==3.5.1
zope.interface==5.4.0
altgraph==0.17
amqp==5.0.9
aniso8601==9.0.1
anyio==3.4.0
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==1.2.0
asgiref==3.4.1
attrs==19.3.0
audioread==2.1.8
autopep8==1.6.0
avatar-generator==0.2
backcall==0.2.0
backend==0.2.4.1
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
beautifulsoup4==4.9.1
billiard==3.6.4.0
bleach==3.1.5
blinker==1.4
celery==5.1.2
certifi==2021.10.8
cffi==1.14.1
chardet==3.0.4
charset-normalizer==2.0.11
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
comtypes==1.1.7
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.4
dnspython==1.16.0
docopt==0.6.2
docutils==0.18.1
elasticsearch==6.3.1
entrypoints==0.3
eventlet==0.31.1
fastapi==0.70.1
filelock==3.4.0
Flask==2.0.2
Flask-Ext==0.1
Flask-HTTPAuth==4.5.0
Flask-Jsonpify==1.5.0
Flask-Login==0.5.0
flask-msearch==0.2.9.2
flask-paginate==2022.1.8
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
flit==3.6.0
flit_core==3.6.0
flower==1.0.0
future==0.18.2
greenlet==1.1.2
guess-language-spirit==0.5.3
gunicorn==20.1.0
h11==0.12.0
h5py==2.10.0
httptools==0.3.0
humanize==3.14.0
icon==0.0.5
idna==3.3
inline==0.0.1
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
joblib==0.16.0
Js2Py==0.70
jsonpickle==1.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
k==0.0.1
Keras==2.4.3
kiwisolver==1.2.0
KNN==1.0.0
kombu==5.2.3
librosa==0.8.0
llvmlite==0.34.0
MarkupSafe==2.0.1
matplotlib==3.3.1
mistune==0.8.4
naiveBayesClassifier==0.1.3
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.3
numba==0.51.2
numpy==1.19.1
opencv-python==4.5.1.48
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
path==15.0.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.2.0
pip-api==0.0.27
pipwin==0.5.0
platformdirs==2.4.0
points==0.4.0
pooch==1.2.0
prometheus-client==0.13.1
prompt-toolkit==3.0.27
pycodestyle==2.8.0
pycparser==2.20
pydantic==1.8.2
pygame==1.9.6
Pygments==2.6.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pyjsparser==2.7.1
pymongo==3.12.0
pyparsing==2.4.7
pypiwin32==223
PyPrind==2.11.2
pyrsistent==0.16.0
pySmartDL==1.3.3
python-dateutil==2.8.1
python-dotenv==0.19.2
python-time==0.3.0
pyttsx3==2.90
pytz==2021.3
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.5
QtPy==1.9.0
redis==3.5.3
redisbeat==1.2.4
requests==2.27.1
resampy==0.2.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
Send2Trash==1.5.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
SoundFile==0.10.3.post1
soupsieve==2.0.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.29
starlette==0.16.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tomli==2.0.0
tomli_w==1.0.0
tornado==6.1
tqdm==4.50.2
traitlets==4.3.3
typing_extensions==4.0.1
tzlocal==2.1
urllib3==1.26.8
uuid==1.30
uvicorn==0.16.0
vine==5.0.0
virtualenv==20.10.0
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.1
Werkzeug==2.0.3
Whoosh==2.7.4
widgetsnbextension==3.5.1
zope.interface==5.4.0
altgraph==0.17
amqp==5.0.9
aniso8601==9.0.1
anyio==3.4.0
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==1.2.0
asgiref==3.4.1
attrs==19.3.0
audioread==2.1.8
autopep8==1.6.0
backcall==0.2.0
backend==0.2.4.1
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
beautifulsoup4==4.9.1
billiard==3.6.4.0
bleach==3.1.5
blinker==1.4
celery==5.1.2
certifi==2021.10.8
cffi==1.14.1
chardet==3.0.4
charset-normalizer==2.0.11
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
comtypes==1.1.7
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.4
dnspython==1.16.0
docopt==0.6.2
docutils==0.18.1
elasticsearch==6.3.1
entrypoints==0.3
eventlet==0.31.1
fastapi==0.70.1
filelock==3.4.0
Flask==2.0.2
Flask-Ext==0.1
Flask-HTTPAuth==4.5.0
Flask-Jsonpify==1.5.0
Flask-Login==0.5.0
flask-msearch==0.2.9.2
flask-paginate==2022.1.8
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
flit==3.6.0
flit-core==3.6.0
flower==1.0.0
future==0.18.2
greenlet==1.1.2
guess-language-spirit==0.5.3
h11==0.12.0
h5py==2.10.0
httptools==0.3.0
humanize==3.14.0
icon==0.0.5
idna==3.3
inline==0.0.1
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
joblib==0.16.0
Js2Py==0.70
jsonpickle==1.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
k==0.0.1
Keras==2.4.3
kiwisolver==1.2.0
KNN==1.0.0
kombu==5.2.3
librosa==0.8.0
llvmlite==0.34.0
MarkupSafe==2.0.1
matplotlib==3.3.1
mistune==0.8.4
naiveBayesClassifier==0.1.3
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.3
numba==0.51.2
numpy==1.19.1
opencv-python==4.5.1.48
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
path==15.0.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.2.0
pip-api==0.0.27
pipwin==0.5.0
platformdirs==2.4.0
points==0.4.0
pooch==1.2.0
prometheus-client==0.13.1
prompt-toolkit==3.0.27
PyAudio @ file:///C:/Users/PHONG%20VU/pipwin/PyAudio-0.2.11-cp38-cp38-win32.whl
pycodestyle==2.8.0
pycparser==2.20
pydantic==1.8.2
pygame==1.9.6
Pygments==2.6.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pyjsparser==2.7.1
pymongo==3.12.0
pyparsing==2.4.7
pypiwin32==223
PyPrind==2.11.2
pyrsistent==0.16.0
pySmartDL==1.3.3
python-dateutil==2.8.1
python-dotenv==0.19.2
python-time==0.3.0
pyttsx3==2.90
pytz==2021.3
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.5
QtPy==1.9.0
redis==3.5.3
redisbeat==1.2.4
requests==2.27.1
resampy==0.2.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
Send2Trash==1.5.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
SoundFile==0.10.3.post1
soupsieve==2.0.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.29
starlette==0.16.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tomli==2.0.0
tomli-w==1.0.0
tornado==6.1
tqdm==4.50.2
traitlets==4.3.3
typing-extensions==4.0.1
tzlocal==2.1
urllib3==1.26.8
uuid==1.30
uvicorn==0.16.0
vine==5.0.0
virtualenv==20.13.3
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.1
Werkzeug==2.0.3
Whoosh==2.7.4
widgetsnbextension==3.5.1
zope.interface==5.4.0
