{% extends 'index.html' %}
{% block head %}{% endblock %}
{% block post %}
<li class="btn-group nav-item">
    <a href="javascript:void(0);" class="nav-link">
        <i class="nav-link-icon fa fa-edit"></i>
        New ProJect
    </a>
</li>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row justify-content-center headline-container" style="padding-top:20px">
	<div class="col-8 headline">
		<h1 class="hed">#yeewilly</h1>
		<p class="dek">Wedding photos from both ceremonies, along with our wedding video and photobooth.</p>
	</div>
	</div>
	<div class="card-deck">
		
		<div class="card my-3">	
			<a class="btn card-link" data-url="https://photos.app.goo.gl/W2NhXuPfdubnjt2L9">US PROFESSIONAL PHOTOS</a>
			<img src="https://lh3.googleusercontent.com/kForl8gmBnc3B2tN17AXzw2FE6AYs-E5uJxUF6as9dhmNsaFTAr18cYF8MoxwRJuBZSl-HNSrndfveTZWYcTTZxZX7e-FkPtvVuuUM8DtDxy9kAnPLFL6vCZLpUWDDLCa0erf00ZxWk34GOEd2wXgjBZZjKGAzG_O3-UkPJHnrxsBI3PWajwrdaT-Sm6MmnHTCOtsHaLzhtK-48cuJi80jJGnfiyXmXQobiTP67zzHrTExZP8_SowsUKzrzCXuZgOIR2lKJYiuVP0zbnN-sgxTB2njn2KnxGJx-INeDpewr9Z-XakdGBqwx7kjODEm6ttZWo6KhPPs8p4wQBf7m4Sbx6ciBni63m0Rg9_RyDgvzqU8whUgbmFg7vfSYz48BR8sZQmXNGrgc5pChGO2lV3uZNDGnwzIPS4mNV4jC5d2EDHr85G5H6xkNPVX3itYq6X2MZhPNSTKTeVE9RFx16q6xNqaItOQypHAPrd-UQjPGdapSRloZlIylx-CE0fviqmiCTv_-wXky_IgDD5SPoHhg0cB0EeWb6Lx6mFTxTIiHZC_wu4PPmPly9V8GKD-H_xZxpYdCOIMdK8Pk7Fnc2maWjyzDIgoeLCu95thDxk4U8wikRL1v91xodjV0pwZ3eExvH0w68VY7_oVoY6zdeXhRTIRwK3zkFXB6V995jZMcpt3fD5l1NIPm0xkRdQ8InUSID41MUZdt46tGx0RIrV-fv8u8RpGSWUH-YBH8wjB6p7GE1uw=w1283-h857-no" class="card-img-top">
			<div class="card-body d-flex flex-column">
				<button class="btn btn-primary mt-auto" type="button" data-url="https://photos.app.goo.gl/W2NhXuPfdubnjt2L9">See more</button>
			</div>
		</div>
		<div class="card my-3">
			<a class="btn card-link" data-url="https://photos.app.goo.gl/4y4LRfGyTYqs4Xng7">US GUEST PHOTOS</a>
			<img src="https://lh3.googleusercontent.com/usYfEMOQCQ0jAjO9mrL2vgeMtM_HXGPIWCVv4JVuYnLcdMMhWPWhGhurz29FdMYexgcrCrbzWzpJJroWLPNQfOuKaESj7-h5iO1TGfbgFcJbHRO9crqm2EVx_NApI_7MVlTx4vQUvX8sD3ICkkkeL0NQK6jN7Z9yutCFF7YZRkPOwJ9b_HNxXsfYwV5SEhnAFkpma2ssxmnfpkzE-lMeeAHCyvW3j4jaU8T7Oa2AJ6FWoHhXr8EN_yhgcnAMMvAEhMTyEGS3QZbsY9SoJDIkediWuJ6ILDilCo-4cJCD4g-ORx6MXUSEVF31QkWW2DS5maGOYLgQPSk-P3Wgl_Rs0WUeMv9s0WsUz1cRygXKIEEYxftPS1rihAw1svEh52xS0Y8UU2JeEBc6D2YfJ6im0cWExKq_MVK8H3rpWApAtYi4mIXNKmOvpELXCu-V-YqAfN2VuOBftw7E-B2r1OHMjm8tK7S3i_75tdCyB3bRZM6_jwfZrKNp-pboPdZhIPWpCYYzGvTe-CnG1OfzzJBdYt5aIKVjAHSlYZXjl58NgNH1kg0yZF6aOu93ADfXzjfpCKBrtfSPuSauacWbPoaNZI-PYmX2wBBfmf-Iv2tk6-r2zyl1RpJ9uhfEXOOetg7MhyH0xTj67cH1EjpkrNRU28chQ8cbbhDbXkkKzHBvMDXb5cacBAlMwg-GHCDY1LwLjXER_1MaOPw466QB-XSa4d5OhFo_mSFrZ3T7SzmWxY8cSckCMA=w1712-h1284-no" class="card-img-top">
			<div class="card-body d-flex flex-column">
				<button class="btn btn-primary mt-auto" type="button" data-url="https://photos.app.goo.gl/4y4LRfGyTYqs4Xng7">See More</button>
			</div>
		</div>
		<div class="card my-3">
			<a class="btn card-link" data-url="https://photos.app.goo.gl/ZoHv8rpdrriL9vtm6">UK PROFESSIONAL PHOTOS</a>
			<img src="https://lh3.googleusercontent.com/mFVoxykUura1f0MfPE7TJT20CIXCDNhsUaiWBF71j4Mlwx3ZmdgJEgyAGZYPQucqpO5u0EatPLaY2mQFfQ5lJ1aRaDSZZkO68kH1QSz2kG0Ai_WqAP6aXKPcuZyKsx3MckALz1pVC5B4GVyahLVx8piPenPOjVW9ctog1FJPcfd8oz2UA-Fuo_3Vl0f-T3i8P1juZ_6LMAwB76KRNWz0BTz_ZgqnNlqWHb1htvs4kwcJw1tpUB9Wx70yFP05-2qqonYuXquo0jjn0p1eNWLUE_cEmDiVeDirtb2xriKOeGOzm0mqxJA679CCOPBc0dD7HQ2pep8Ltois70T5IQKm-b8w15YtJndBVjfRwVuWSE6myzpl7NfmI9aIDXO_eFgLDd0mk6W534GeFW78wL2SmS-PfKYDuAH6V_G6ORz6hnV2HlpOB_kW4_HLl3Od11L7UFLjoYeFeDZ-7sWQoEm1_EourJzQDRQIifuzLv3s_a2cJz9NpP4BaEb5NdLdwSWJtvC8Dp-HpJAaPkF5YkGkR22DGt3iwWN9fl1n80aqOoUCJGjOfYvR78hzj60km8aEZocYJk06BmVC7Rn5OMJLfYvJjt7d8wCx1gENP_q7ysqN68Wdbm5A_Ec0erYG5BAaohZbVVRRdVdWlYo7aN6cF8gD_kNvFyAnRHm5GpTxqFA-yF5WKLzSwP9qeMkfmlZ6RVHCLTkAuoIfbQv2LaOoAHXLWm_dx5kG28bgUtO8N-Gfi50okQ=w1927-h1284-no" class="card-img-top">
			<div class="card-body d-flex flex-column">
				<button class="btn btn-primary mt-auto" type="button" data-url="https://photos.app.goo.gl/ZoHv8rpdrriL9vtm6">See More</button>
			</div>
		</div>
		<div class="card my-3">
			<a class="btn card-link" data-url="https://photos.app.goo.gl/pTXFQe6Ap5itSMj17">UK GUEST PHOTOS</a>
			<img src="https://lh3.googleusercontent.com/imd6DYDS34GoK9LNNQvbQ_T1E2iRewjAtDuAkbr9STDPDve-brhGMewWoKi6HALQ4iFl1nubm28jcenmTan1oY2OEnDtpj1tirKdBI0gfZu5HCSugplIHHqlQAvBavlbJYXP6sQPn8tT5rfYZTRoLJumFOGHQa91Vo_jJOe6kiNKH3gSP--gHmda_KW_i_8zgiQxj68A8Eta9OwerNwYM1I-oKlwDS8uRlqri5wjPGahrzgn1MRU35qBFK9PhPWLJgMuPjvODfcD-xO51_cssR2cRjMBAud-1hn39LM52s2r2UD5yG76_r5f20BcXtqQjbEvjaYJ5mgXr65wDs_nZSZW9-sWgwqMMp6lBqih9SnqZJbgu6OdtfpNX9G_6bk6Lr2PhyuMrI3da1RWVr2lBZllYTPqYCp9V9hl1yCIwt-zWyO4qGyuKNDvxwv7h17VM9Lae8SqIW3dbPuics3k0pNrTmriWzJlgAg2Y7Ug0vZXTjNf6RK9WhNaY-pdA05uDFQ0GL9fG3x-Q3QDk5Fo1tOFqoh5SXRuyt3J7MtALJ8Fh8_Q1-1JA_mGP6lOaP4LumeXEm-yTyeb8sGXQ7PCrhm2M8XwiX-LT_LlcOT7xJr8nb4Ed8q8jE3Ym_LvgECF2oOSW6qIHAABoijVJNZpsdbz_jwtwzf0sK7gZGrdGwEoAb-LaWQ0jHcdnevC41ZBBgANhTYq9cMVBiH_rojAJzPDV9_IhjCtYnu9g_refMPL_p2Mow=w1712-h1284-no" class="card-img-top">
			<div class="card-body d-flex flex-column">
				<button class="btn btn-primary mt-auto" type="button" data-url="https://photos.app.goo.gl/pTXFQe6Ap5itSMj17">See More</button>
			</div>
		</div>
		<div class="card my-3">
			<a class="btn card-link" data-url="http://photobooth.yeewilly.com">PHOTOBOOTH</a>
			<img src="http://vm.digitalhen.com/~henry/wedding/smallpb.png" class="card-img-top">
			<div class="card-body d-flex flex-column">
				<button class="btn btn-primary mt-auto" type="button" data-url="http://photobooth.yeewilly.com">See More</button>
			</div>
		</div>
		<div class="card my-3">
			<a class="btn card-link" data-url="https://wsj.com/pro/centralbanking">WEDDING VIDEO</a>
			<img src="https://s.wsj.net/public/resources/images/S1-BT788_0124ec_G_20190124044813.jpg" class="card-img-top">
			<div class="card-body d-flex flex-column">
				<button class="btn btn-primary mt-auto" type="button" data-url="https://www.wsj.com/articles/bluemountain-seeks-to-replace-pg-es-board-11548360742">See More</button>
			</div>
		</div>
		
		
		
	</div>
</div>
{% endblock %}
{% block js %}{% endblock %}